//sberosc.sigma.sbrf.ru/repo/npm/:_authToken=dG9rZW46MmMxNzdlM2MzMDE4MTg5NWQwMDFkMDE0NTdlYzFjYmQyNDA5ZGRjZg==
registry=https://sberosc.sigma.sbrf.ru/repo/npm/
old-registry=http://nexus.sigma.sbrf.ru:8099/nexus/content/repositories/npmjs/
@sber:registry=http://nexus.sigma.sbrf.ru:8099/nexus/content/repositories/WebSite_BackBase_npm/
@sbol:registry=http://nexus.sigma.sbrf.ru:8099/nexus/content/groups/sbol_npm_group/
always-auth=true
strict-ssl=false
tag-version-prefix=v
message=chore(ver): %s
loglevel=error