//sberosc.sigma.sbrf.ru/repo/npm/:_authToken="dG9rZW46YzJlYWQ0ZGNhN2VjNzgyNGNhZjE3NGJmY2ZjYzYwZWViMzc1MzA5Zg=="
registry=https://sberosc.sigma.sbrf.ru/repo/npm/
audit=false
always-auth=true
fetch-retries=5
cafile=/local path/ca_root.pem
strict-ssl=false
save-exact=true